
/*home*/
/*.menuItem{
}*/
#slide1, #slide2, #slide3 {
	height: 1000px;
	padding-top:100px;
}
#slide1 {
	background:url() center 0 no-repeat fixed;	
}
#slide2 {
	background:url() center 0 no-repeat fixed;	
}
#slide3 {
	background:url() center 0 no-repeat fixed;	
}
#slide4 {
	background:url() center 0 no-repeat fixed;	
}